*{
    margin: 0;

}
header{   

    display: flex;
    justify-content: space-between;
    padding: 40px;
}
    ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
a{
      text-decoration: none;
      color: white;
       font-size: 20px;
}
        /*first-section*/
.second{
        background-image: url(./image/strict.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.first-section{
    margin-top: -90px;
     text-align: center;
    padding-top: 10rem;
    padding-bottom: 40px;
     color: white;
}
button{
    padding: 20px 30px 20px 30px;
    text-align: center;
    background-color: yellow;
    font-size: 18px;
    border-radius: 10px;
    border-style: none;
  
}
     /*second-section*/
.service{
    padding-top: 30px;
    text-align: center;
}
.comms{
    display: flex;
    gap: 18px;
}
.pushing{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 9%;
    margin-left: 9%;
}
.icon{
    display: flex;
    justify-content: space-between;
    margin: 0 10% 0 10%; 
}
.words{
     display: flex;
 justify-content: space-between;
 margin-left: 10%;
margin-right: 10%;
}
.all{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.portfolio{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    gap: 0;
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(188, 231, 191, 0.555);
    background-position: center;
    background-size: 100%;
    padding: 5%;
     
}

.port{
    width: 100% ;
    border-radius: 10%;
}
.pushing{
    display: flex;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.push{
    display: flex;
    gap: 20px;
}
   

/* .keep{ */
      /* justify-content: center; */
      /* display: flex; */
      /* flex-direction: column; */
     /* border-radius: 80%;  */
     /* width: 10%; */
     /* object-fit: cover; */
     /* margin-left: 20%; */
   /*  */
     /* justify-content: space-between; */
     /* align-items: center; */
     /* margin-left: 47%; */
     /* margin-bottom: 3%; */
/* } */

.mercy{
    margin-right: 43%;
    width: 120px;
    height: 120px;
    border-radius:80%;
    margin-bottom: 4%;
    
}


/* .section{ */
 /* display: flex;   */
 /* justify-content: center;   */
/* } */
/* .pushing{ */
    /* display: flex; */
    /* display: list-item; */
/* } */
.yer{
    display: flex;
    width: 10%;
    margin-left: 44%;
    margin-top: 5%;
    margin-bottom: 35px;
}

.veen{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 4%;
    padding: 7px;
    

}
.fort{
    display: flex;
    margin-top: 1%;
    justify-content: center;
}
.team{
    padding-top: 4%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(211, 199, 186);
    background-position: center;
}
.tick{
    border-radius: 58%;
    width: 50%;
    height: 180px;

}
.last{
    margin-top: 3px;
    background-image: url(./image/images.jfif);
    color: azure;
    padding-bottom: 20px;
    padding-right: 10px;
}

footer{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 50px;
}
.form{
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    .portfolio
    { background-color: rgb(71, 62, 62);
    flex-direction: column;
    }    
}
